<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <img width="300px" heigth="300px" src="img/logo-mercado-liebre.svg" alt="">
    <h1>Compra en cuotas y sin tarjeta de credito</h1>
    

    <input type="text" placeholder="Buscar productos,marcas"> </input>   <button><i class="fa-solid fa-magnifying-glass"></i> </button>

    <h3>Ofertas </h3>
    <h3>Tiendas oficiales </h2>
    <h3>Vender </h3>
    <h3>Ayuda </h3>
    
    <br>
    <br>
    <br>
    <br>

    <h3>Crea tu cuenta  <i class="fa-solid fa-address-card"></i>                </h3> 
    <h3>Ingresa         <i class="fa-solid fa-right-to-bracket"></i>            </h3> 
    <h3>Mis compras     <i class="fa-sharp fa-solid fa-basket-shopping"></i>    </h3> 

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="divboton">  
    <button> <i class="fa-solid fa-bars">    </i> </button>
    </div>



<script src="https://kit.fontawesome.com/e31d4f767f.js" crossorigin="anonymous"></script>
</body>
</html>