/* Amarillo: #EAC926; 
Azul: #03264C; 
Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a; */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing:border-box ;
}

body {
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    display: flex;
    flex-direction: column;

}

.logo {
    width: 8%;
}

.nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.espacio {
    width: 40%;
}

.menu>ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu>ol>li>a {
    color: #333;
    text-decoration: none;
}


/* con esto separamos los elementos de la lista */
li {
    padding-right: 10px;
}

.nav-botton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* MAIN */
main {
    background-color: #ebebeb;
    padding-bottom: 10px;
    width: 90%;
    margin: 0 auto;


}

h3 {
    font-size: 24px;
    color: #666;
    margin-left: 10px;
}



.art-grp{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.articulo  .valor .precio {
    font-size: 18px;
    margin-left: 10%;
    width: 30%;
    
}
.valor{
    display: flex;
    flex-direction: row;
}
    

.articulo .valor .descuento {
    font-size: 16px;
    color: green;
    font-weight: bold;
    margin-left: 10%;
    width: 70%;

}

.articulo>.descripcion {
    font-size: 16px;
    margin-left: 10%;
}

.banner>img {
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.articulo>img {
    width: 300px;
}

.articulo {
    background-color: white;
    box-shadow: 0 0 6px;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    background: white;

}

.banner-footer {
    display: flex;
    flex-direction: row;
}

section.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer>.icono {
    text-align: center;
}

.card-footer>.icono>i {
    color: #03264C;
    font-size: 3em;
}

.card-footer>.titulo {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.copy {
    text-align: center;
    margin-top: 10px;
}

/* Tablet */
@media (max-width:1194px) and (min-width:361px) {
  main {
    width: 300px;
  }

  .menu {
    display: none;
  }

  .ultimo {
    display: flex;
    flex-direction: column;
  }

  .oferta {
    display: flex;
    flex-direction: column;

  }
}

/* Celu */
@media (max-width:360px) {
    .menu {
      display: none;
    }
  
  
    .ultimo {
      display: flex;
      flex-direction: column;
    }
  
    .oferta {
      display: flex;
      flex-direction: column;
  
    }

    .art-grp{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  
  
  }






